DB_HOST=
DB_PORT=
DB_DATABASE=  
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=pusher

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1
PUSHER_HOST=api-mt1.pusher.com
PUSHER_PORT=443
PUSHER_SCHEME=https

CONF_EMAIL=
CONF_TOKEN=
CONF_BASE_URL=
CONF_URL=
CONF_SPACE= 

GEMINI_API_KEY=

JIRA_EMAIL= 
JIRA_TOKEN=
JIRA_BASE_URL=
JIRA_PROJECT=